/* start set up * / 

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* end set up */

      /* First we do all of our regular CSS for the basics and desktop site */
      body {
        border:solid 3px purple;
        font-family: 'Raleway', sans-serif;
        line-height: 1.2em;
        color:white;


      }

      h1{
            margin:0 auto;
            font-size:72px;
            padding:4%;
            text-align: center;
      }


      li{
        list-style: none;
      }
/*      p{
      
        margin:0;
      }
*/
    

      .wrapper{
        width:100%;
        margin:0 auto;
        background-image:url(images/green_dust_scratch.png);
      }

      .header{
        min-height: 200px;
        width:100%;
      }

      .content{
        background:rgb(198, 238, 226);
        width:100%;
        min-height: 400px;
      }

   
      .cover{
        text-align: center;
        position: relative;   
      }

      .coverBapm{
        background: url(images/planning.jpg) no-repeat center;
        background-size:cover;
         background-position: top;
       
      }

      .coverWeb{
         background: url(images/webdev.png) no-repeat center;
         background-size:cover;
        background-position: top;
      }
      
      .coverMedia{
         background: url(images/zakiandian.jpg) no-repeat center;
         background-size:cover; 
      }
      
       .coverLife{
         background: url(images/lovejose.jpg) no-repeat center;
         background-size:cover;
         background-position: bottom;
         text-align: center;
         position: relative;   
       }

      .content h2{
        /*text-align: left;*/
       /* padding:30px 0 40px 10px;*/
        text-shadow: 1px 1px 2px rgb(227, 248, 242);
        color:#69d9b9;
        line-height: 1.2em; 
      }

      .content .video{
       /* border: 20px solid white;*/
       margin:2%;
       float:left;
        box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.5);
      }

   
      .cover h2{
        position: absolute;
        bottom:50%;
        left:0;
        background:rgba(255, 255, 255, 1);
        text-align: center;
        width:40%;
        margin:0 auto;
        padding:20px;
        margin-left:-2%;
        border-radius: 3px;
      
 
      }

        .description h2{
         color:black;
          float:left;
        

      }

  

      h3.summary {
        color:white;
        margin:0;
        float:left;
        /*display:block*/;
      }
    
        .resultContainer{
        width:50%;
        float:left;
      
      }

      .resultColumn{
        width:30%;
        float:left;
      
      }


    
      .resultColumn h2{
        padding-top:0;
        font-size: 48px; 
        color:black;
        text-align: center;
        margin:0 0 2px 0;
        float:none;


      }

      .resultColumn p{
      /*  margin-top:-40px;*/
        color:black;
        text-align: center; 
      }

      .headline{
        color:white;

      }

      .headline h2{
        font-size:72px;
        margin:0px auto;
        padding:0 0 0 10px;
        text-transform: uppercase;
      }

      .uppercase{
        text-transform: uppercase;
      }

   
      .content{
        margin:0 auto;
        padding:20px;
      }


      .content img{
        width:40%;
        margin:0; 
        padding: 20px;
        float:left;
      }

      img.webApplication{
        width:40%;
        margin:50px 10px;
        border-radius: 3px;
        box-shadow: 0 0 10px black;
        padding:0;

       }
  
       span.subHeadline{
        font-size: 16px;
        color:white;
       }

    

      ul.nav{
        margin: -50px auto;
        position: relative;
        top:0px;
        width:100%;
        text-align: center;
        z-index: 99;

      }
  
      ul.nav li{
        border:10px solid rgb(132, 213, 214);
        background:rgb(198, 238, 226);
        border-radius: 50%;
        box-shadow: 0px  0px 50px white;
        margin-right: 2px;
        display: inline-block;
        position: relative;
        vertical-align: top;
        width:100px;
        height:100px;
        -webkit-transition: all .5s ease-in-out;
        text-shadow: 0px 0px px rgb(132, 213, 214);
      }

      ul.nav li:hover{
        overflow:hidden;
        z-index:1;
        translateZ(0); /* for gpu on phones */
        -webkit-transform: scale(1.1) rotate(360deg); 
        box-shadow: 0px  0px 50px white;
        border: 20px dotted rgb(132, 213, 214);
       /* border: 10px solid red;*/
      }

      ul.nav li:hover h3{
        padding:10px;
      }
         

      .nav h2{
       border-radius: 50%;
       width: 80px;
       height:80px;
       padding:0px;
       position: absolute;
      
      }

      .nav h3{
        padding: 20px 20px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color:rgb(132, 214, 195);
         -webkit-transition: all .5s ease-in-out;

        }

      .nav h2{   
       top:10px;
       left:40px;
      }


      .footer{
        background-color:#aaa;
        min-height:200px;
       /* margin: 0 auto;*/
        text-align:center;
      }
    
   

 


      /* Then we use media queries for targeting other resolutions */

      /* Portrait tablet and small desktops */
      @media (max-width: 940px) {
        body {
          background:green;
        }
      }
       
      /* Landscape phone to portrait tablet */
      @media (max-width: 767px) {
        body {
          background:red;
        }
      }
       
      /* Landscape phones and down */
      @media (max-width: 480px) {
        body {
          background:yellow;
        }

        
      .nav{
        width:100%;
        display:none;
      }

      .nav li a{
        text-align: center;
        width:100%;
        display:block;
       
      }

      a.navToggle{
        display:block;
      }

      }
